
.hero {
 background:#000000;
 max-width:1440px;
 height:412px;
  background: url(../icons/header-x1.png) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-body {
  padding:0;
}
h1.title {

  font-size:64px;
  color:#ffffff;
  text-align:left;
  padding: 0px;
  margin: 0px;
}

.header-title {
  margin-top: 264px;
  margin-left: 132px;
  padding: 0px;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px)  { 
 .header-title {
  margin-left: 50px;
  margin-top: 20px;
 }
h1.title {
  font-size: 32px;
}

.hero {

  height: 100px;
}







}
