 .level {
  padding: 64px 12px 0px 12px;
  max-width: 1300px;
 }


.filter-button {
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  background:#ededed;
  border-radius:100px;
  height:48px;
  font-size:24px;
  color:#a3a3a3;
  letter-spacing:-0.15px;
  padding: 6px 24px 12px 24px;
  border: 0px;
  border-color: white;

}


.filter-button:not(:first-child) {
  margin-left:24px;
}

.filter-button:hover, #active {
   background:#0ad4fa;
   color:#ffffff;


}

button:focus {outline:0;}

.level span {
  font-size:24px;
  color:#a3a3a3;
  letter-spacing:-0.15px;
  line-height:48px;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px)
  {
    .level {
     padding: 30px 12px 0px 12px;
    }
    .level span {
  font-size:10px;
  color:#a3a3a3;
  letter-spacing:-0.15px;
  line-height:48px;
}

    .filter-button {
      cursor: pointer;
      background:#ededed;
      border-radius:100px;
      height:32px;
      font-size:14px;
      color:#a3a3a3;
      letter-spacing:-0.15px;
      padding: 3px 6px 6px 6px;
      border: 1px;
    }

    .filter-button:not(:first-child) {
      margin-left: 3px;
    }
    .level-item img {
      width: 32px;
      height: auto;
          }

  }


.v-divider {
  font-size:36px;
  line-height: 48px;
  background-color:#d9d9d9;
  width: 1px;
  height: 48px;

}